<form
   [formGroup]="formCadastro"
  (ngSubmit)="handleCadastrarUsuario()" (input)="handleInput()">

    <cmail-form-group [campo]="formCadastro.get('nome')">
        <input name="nome" formControlName="nome"
          placeholder="Nome" cmailFormInput />
    </cmail-form-group>

    <cmail-form-group [campo]="formCadastro.get('usuario')">
        <input name="usuario" formControlName="usuario"
          placeholder="Usuário" cmailFormInput />
    </cmail-form-group>

    <cmail-form-group [campo]="formCadastro.get('telefone')">
        <input name="telefone" formControlName="telefone"
          placeholder="Telefone" cmailFormInput />
    </cmail-form-group>

    <cmail-form-group [campo]="formCadastro.get('avatar')">
        <input name="avatar" formControlName="avatar"
          placeholder="Avatar" cmailFormInput />
    </cmail-form-group>

    <button>
      Cadastrar agora!!!!!!!
    </button>
</form>
