<div class="mdl-layout mdl-js-layout">
<main class="mdl-layout__content">
<div class="page-content">
  <div class="mdl-grid">
    <article class="demo-card-wide mdl-card mdl-shadow--2dp">
      <header class="mdl-card__title">
        <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
      </header>

      <form #formLogin="ngForm" (ngSubmit)="handleLogin(formLogin)" autocomplete="off" class="mdl-card__supporting-text">

        <cmail-form-group [campo]="email">
          <input email required placeholder="E-mail" #email="ngModel" [(ngModel)]="login.email" name="email" type="email" cmailFormInput>
          <span class="mdl-textfield__error">
            Informe seu email @cmail.com.br
          </span>
        </cmail-form-group>

        <cmail-form-group [campo]="senha">
          <input required placeholder="Senha" #senha="ngModel" [(ngModel)]="login.senha" type="password" name="senha" cmailFormInput>
          <span class="mdl-textfield__error">
            Senha inválida
          </span>
        </cmail-form-group>

        <div class="mdl-card__actions mdl-card--border">
          <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Primeiro login? Cadastre-se!
          </a>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
            Entrar
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
</main>
</div>
